* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --gridsize: min(70vw, 70vh);
  --gridsquare: 16;
  --bgcolor: rgb(32, 32, 32);
}

body {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bgcolor);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text], button {
  all: unset;
}

#menu {
  margin: 1em 2em;
  -webkit-animation: fadeInTop 500ms backwards;
          animation: fadeInTop 500ms backwards;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#menu h1 {
  display: block;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  color: #03ffbc;
  font-family: "Tilt Neon", cursive;
}
#menu h2 {
  display: block;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1em;
}
#menu input[type=text] {
  font-size: 0.8rem;
  color: white;
  margin: 1em;
  height: 1em;
  padding: 5px;
  border-bottom: 1px solid white;
  text-align: center;
}
#menu button {
  -webkit-transition: 500ms;
  transition: 500ms;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 300;
  border: 1px solid white;
  height: 1em;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#menu button:hover {
  color: #03ffbc;
  border: #03ffbc 1px solid;
}
#menu div {
  width: 2em;
  height: 2em;
  border-radius: 100%;
  overflow: hidden;
}
#menu input[type=color] {
  border: 0;
  background-color: transparent;
  height: 200%;
  width: 200%;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  cursor: pointer;
}

.containerwrapper {
  -webkit-animation: fadeInBottom 500ms backwards 500ms;
          animation: fadeInBottom 500ms backwards 500ms;
  border: 1px solid white;
}

#divcontainer {
  width: calc(var(--gridsize));
  height: calc(var(--gridsize));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#divcontainer div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: calc(var(--gridsize) / var(--gridsquare));
  width: calc(var(--gridsize) / var(--gridsquare));
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */